.food-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}
.user-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.food-img-md {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.card .card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.card .card-body .card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card .card-body .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.card .card-body .btn-qty {
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: var(--dark);
    background-color: rgb(241, 241, 241);
}
.card .card-body .btn-qty:hover {
    background-color: lightgray;
}