.card .order-img:hover {
  transform: scale(1.1);
  transition: all 0.5s;
  overflow: hidden;
  /* box-shadow: 5px 5px 20px; */
}
.card {
  overflow: hidden;
}

/* .btn-more-info:hover{
  margin-bottom: 5rem;
} */
.page-link {
  cursor: pointer;
}
