.sidebar-link {
    background-color: var(--bg-white);
    color: var(--bg-dark);
}
.sidebar-link.active {
    background-color: var(--bg-primary-75);
    color: var(--bg-white);
}
.sidebar-link:not(.active):hover {
    background-color: var(--bg-primary-25);
}
.text-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}