:root {
    --app-bg-color: #F6F1F1;
    --bg-white: #FFFFFF;

    --bg-primary: #007bff;
    --bg-primary-75: rgba(0, 123, 255, 0.75);
    --bg-primary-50: #007bff80;
    --bg-primary-25: #007bff40;

    --bg-dark: #343a40;
    --bg-dark-75: #343a40bf;
    --bg-dark-50: #343a4080;
    --bg-dark-25: rgb(52, 58, 64, 0.25);
}
* {
    font-size: 15px;
}
.cursor-pointer {
    cursor: pointer;
}
::-webkit-scrollbar {
    display: none;
}
.layout-arrow {
    rotate: 180deg;
}
.layout-arrow.full-screen {
    rotate: 0deg;
}